/* Cores */
:root{
    --bege: beige;
    --bege-escuro: rgb(207, 207, 187);
    --verde: #79703a;
    --marrom: #6e2a1a;
    --preto: #1B1B1B;
    --cinza: rgb(116, 114, 114);
}


/*Fonte personalizada*/
@font-face {
    font-family: "Font-Title";
    src: url("../fonts/csayliosdisco-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}